/* Box sizing */
html, body, * {
  box-sizing: border-box;
}

/* Font style and size */
body {
  font-family: sans-serif;
  font-size: 16px;
}

/* Margin */
body {
  margin: 0;
}

/* Width */
body {
  max-width: 960px;
  margin: 0 auto;
}

/* Background */
body {
  background-color: #ffffff;
}
